{% if doc.stock_entry_type == "Manufacture" %}
	{% for item in doc.items %}
		{% if item.serial_no %}
			{% set serial_no = item.serial_no.split('\n')[0] %}
			{% if not no_letterhead  %}
				<div class="barcode_box">
						<div class="br_letterhead">
							<b style="color: white">
								SUDARSHAN ALLUMINIUM INDIA LTD<br>
								<small style="color: white">
									An ISO 9001 : 2008 certified company
								</small>
							</b>
						</div>
					<div class="barcode_cls br_area">
						<center>
							<b style="padding-bottom: 2px; font-size: 14px;">
								{{ item.item_code }}
							</b>
						</center>
						<div class="row item_detail center">
							<div class="col-xs-4 detail_block">
								<b>Total Wt</b><br>
								<b>{{ item.qty }} {{ item.uom }}</b>
							</div>
							<div class="col-xs-4 detail_block">
								<b>Wt Range</b><br>
								<b>{{ item.wt_range }} {{ item.uom }}</b>
							</div>
							<div class="col-xs-4 detail_block">
								<b>No. of Pieces</b><br>
								<b>{{ item.number_of_pieces }} Pieces</b>
							</div>
						</div><br>

						<div class="barcode_f row center">
							<svg class="barcode"
								jsbarcode-margin="0"
								jsbarcode-margintop="5"
								jsbarcode-marginright="15"
								jsbarcode-marginleft="1"
								jsbarcode-height="45"
								jsbarcode-width="2"
								jsbarcode-fontsize="20"
								jsbarcode-textalign="Center"
								jsbarcode-value="{{serial_no}}"
							/>
						</div>
					</div>
					<div class="br_footer">
						<b>
							<small style="color: white">
								www.sudarshanalluminium.com
							</small>
						</b>&nbsp;&nbsp;
						<b>
							<small style="color: white">
								Email: sail1415@gmail.com
							</small>
						</b>
					</div>
				</div>
			{% else %}
				<div class="barcode_cls_nolt br_area">
					<center>
						<b style="padding-bottom: 3px; font-size: 14px;">
							{{ item.item_code }}
						</b>
					</center>
					<div class="row item_detail center">
						<div class="col-xs-4 detail_block">
							<b>Total Wt</b><br>
							<b>{{ item.qty }} {{ item.uom }}</b>
						</div>
						<div class="col-xs-4 detail_block">
							<b>Wt Range</b><br>
							<b>{{ item.wt_range }} {{ item.uom }}</b>
						</div>
						<div class="col-xs-4 detail_block">
							<b>No. of Pieces</b><br>
							<b>{{ item.number_of_pieces }} Pieces</b>
						</div>
					</div><br>

					<div class="barcode_nolt row center">
						<svg class="barcode"
							jsbarcode-margin="0"
							jsbarcode-margintop="5"
							jsbarcode-marginright="15"
							jsbarcode-marginleft="1"
							jsbarcode-height="45"
							jsbarcode-width="2"
							jsbarcode-fontsize="20"
							jsbarcode-textalign="Center"
							jsbarcode-value="{{serial_no}}"
						/>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
{% else %}
	<div class="row">
		<h4>No Data Found</h4>
	</div>
{% endif %}


<script src="https://cdn.jsdelivr.net/jsbarcode/3.5.1/JsBarcode.all.min.js">
	
</script>

<script>
	JsBarcode(".barcode").init()
</script>
<style>
	.barcode_box {
		width: 4in;
		height: 3in;
		border: 2px solid #000;
	}

	.barcode_cls {
		text-align: center;
		background: #0000;
		height: 2in;
	}

	.br_letterhead {
		padding-top: 7px;
		height: 0.6in;
		/*width: 4in;*/
		text-align: center;
		background-color: #000;
		color: #fff !important;
		font-size: 16px;
	}

	.br_footer {
		padding-top: 5px;
		background-color: #000;
		color: #fff !important;
		/*height: 0.4in;*/
		height: 36px;
		/*width: 4in;*/
		font-size: 15px;
	}

	.barcode_f {
		width: 3.4in !important;
		text-align: center;
		margin-left: 0.3in;
		margin-right: 0.3in;
	}

	.item_detail {
		font-size: 14px;
		padding-top: 5px;
	}

	.br_area {
		color: black;
	}

	/* no letter head */
	.barcode_cls_nolt {
		text-align: center;
		background: #0000;
		width: 3in;
		height: 3in;
	}
</style>