{% set row_idx = frappe.form_dict.idx | int %}

{% if doc.stock_entry_type == "Manufacture" %}
	{% for item in doc.items %}
		{% if ((item.serial_no or item.batch_no) and (item.idx == row_idx or not row_idx)) %}
			{% set serial_no = item.serial_no.split('\n')[0] if item.serial_no else '' %}
			{% set batch_no = item.batch_no %}
			{% if not no_letterhead  %}
				<div class="barcode_box">
					<div class="br_letterhead">
						<div class="col-xs-2">
							<img src="/files/sudarshan_logo_white.png">
						</div>
						<div class="col-xs-10">
							<b style="color: white">
							SUDARSHAN ALLUMINIUM INDIA LTD<br>
							<small style="color: white">
								An ISO 9001 : 2015 certified company
							</small>
							</b>
						</div>
					</div>
					<div class="barcode_cls br_area">
						<center>
							<b style="padding-bottom: 2px; font-size: 17px;">
								{{ item.item_code }}
							</b>
						</center>
						<div class="row item_detail center">
							<div class="col-xs-4 detail_block">
								<b>Total Wt</b><br>
								<b>{{ item.qty }} {{ item.uom }}</b>
							</div>
							<div class="col-xs-4 detail_block">
								<b>Wt Range</b><br>

								<b>{{"{:,.3f}".format(item.wt_range) }} {{ item.uom }}</b>

							</div>
							<div class="col-xs-4 detail_block">
								<b>No. of Pieces</b><br>
								<b>{{ item.number_of_pieces }} Pieces</b>
							</div>
						</div><br>

						<div class="barcode_f row center">
							<svg class="barcode"
								jsbarcode-margin="0"
								jsbarcode-margintop="5"
								jsbarcode-marginright="15"
								jsbarcode-marginleft="1"
								jsbarcode-height="50"
								jsbarcode-width="3.4"
								jsbarcode-fontsize="23"
								jsbarcode-textalign="Center"
								jsbarcode-value="{{ serial_no or batch_no }}"
							/>
						</div>
					</div>
					<div class="br_footer">
						{% set company = frappe.db.get_value("Global Defaults",None,"default_company")  %}

						{% set company_doc = frappe.get_doc("Company", company) %}
						<b>
							<small style="color: white">
								{{ company_doc.website or 'www.sudarshanalluminium.com' }}
							</small>
						</b>&nbsp;&nbsp;&nbsp;&nbsp;
						<b>
							<small style="color: white">
								Email: {{ company_doc.email or 'info@sudarshanalluminium.com' }}
							</small>
						</b>
					</div>
				</div>
				<div class="page-break"></div>
			{% else %}
				<div class="barcode_cls_nolt br_area">
					<center>
						<b style="padding-bottom: 3px; font-size: 14px;">
							{{ item.item_code }}
						</b>
					</center>
					<div class="row item_detail center">
						<div class="col-xs-4 detail_block">
							<b>Total Wt</b><br>
							<b>{{ item.qty }} {{ item.uom }}</b>
						</div>
						<div class="col-xs-4 detail_block">
							<b>Wt Range</b><br>
							<b>{{ '%0.3f' % item.wt_range|float }} {{ item.uom }}</b>
						</div>
						<div class="col-xs-4 detail_block">
							<b>No. of Pieces</b><br>
							<b>{{ item.number_of_pieces }} Pieces</b>
						</div>
					</div><br>

					<div class="barcode_nolt row center">
						<svg class="barcode"
							jsbarcode-margin="0"
							jsbarcode-margintop="5"
							jsbarcode-marginright="15"
							jsbarcode-marginleft="1"
							jsbarcode-height="45"
							jsbarcode-width="2"
							jsbarcode-fontsize="20"
							jsbarcode-textalign="Center"
							jsbarcode-value="{{serial_no}}"
						/>
					</div>
				</div>
				<div class="page-break">
			{% endif %}
		{% endif %}
	{% endfor %}
{% else %}
	<div class="row">
		<h4>No Data Found</h4>
	</div>
{% endif %}


<script src="https://cdn.jsdelivr.net/jsbarcode/3.5.1/JsBarcode.all.min.js">
	
</script>

<script>
	JsBarcode(".barcode").init()
</script>
<style>
	.barcode_box {
		/*fix: 2;
		width: 4in;
		height: 3in;*/
		height: 3.8in;
		width: 5.3in;
		border: 2px solid #000;
	}

	.br_letterhead {
		padding-top: 7px;
		text-align: center;
		background-color: #000;
		color: #fff !important;
		height: 0.7in;
		font-size: 20px;
		/*fix 2
		font-size: 16px;
		height: 0.6in;*/
	}

	.barcode_cls {
		text-align: center;
		background: #0000;
		height: 2.6in;
		/*fix: 2;
		height: 2in;*/
	}

	.br_footer {
		padding-top: 5px;
		background-color: #000;
		color: #fff !important;
		/*fix :2;
		font-size: 15px;
		height: 36px;*/
		font-size: 16px;
		height: 46px;
	}

	.barcode_f {
		text-align: center;
		width: 4.4in !important;
		margin-left: 0.5in;
		margin-right: 0.5in;
		/*fix-2*/
		/*width: 3.4in !important;
		margin-left: 0.3in;
		margin-right: 0.3in;*/
	}

	.item_detail {
		font-size: 16px;
		padding-top: 5px;
	}

	.br_area {
		color: black;
	}

	/* no letter head */
	.barcode_cls_nolt {
		text-align: center;
		background: #0000;
		width: 4.2in;
		height: 3.5in;
		/*fix 2*/
		/*width: 3in;
		height: 3in;*/
	}
</style>